<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                     <li><a href="/life-insurance-solutions/">Life Insurance Solutions</a></li>
                        <li><a href="/medicare-plans/">Medicare Plans</a></li>
                        <li><a href="/health-ancillary-coverage/">Health & Ancillary Coverage</a></li>
                        <li><a href="/consulting-guidance/">Consulting & Guidance</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Licensed in 10 States</a>
                    </li>
                    <li>
                        <a href="tel:734-225-4919">T: (734) 225-4919</a>
                    </li>
                    <li>
                        <a href="mailto:wcmcorp@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>