<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <!-- <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78"> -->
                <p class="logo-text">LOGO HERE</p>
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/roofing-siding/">Roofing & Siding</a></li>
                    <li><a href="/flooring-painting/">Flooring & Painting</a></li>
                    <li><a href="/kitchen-remodeling/">Kitchen Remodeling</a></li>
                    <li><a href="/bathroom-remodeling/">Bathroom Remodeling</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">Family-Owned for 10+ Years</a>
                    </li>
                    <li>
                        <a href="tel:TO-BE-ADDED">T: (XXX) XXX-XXXX</a>
                    </li>
                    <li>
                        <a href="mailto:info@trinitycommercial.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>