<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/">
                <img loading="lazy" decoding="async" src="/assets/images/logo_dark.png" alt="logo" width="264"
                    height="78">
            </a>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li><a href="/vinyl-records-merchandise/">Vinyl Records & Merchandise</a></li>
                    <li><a href="/cocktails-lounge/">Craft Cocktails & Lounge Experience</a></li>
                    <li><a href="/events-private-rentals/">Events & Private Rentals</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <!-- <li>
                        <a href="/contact">Ferndale’s Record Store Lounge & Bar</a>
                    </li> -->
                    <li>
                        <a href="tel:5862870500">T: (586) 287-0500</a>
                    </li>
                    <li>
                        <a href="mailto:info@vinylvibesbar.com">Click to Email</a>
                    </li>
                    <!-- <li>
                        <a href="https://goo.gl/maps/7z7mF3yR8fQ2" target="_blank">22757 Woodward Ave, Ferndale, MI
                            48220</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.kalamazoowebsitedesign.com" target="_blank" rel="noopener">Kalamazoo Website Design</a>
        <span class="copyright"> Copyright 2025 - Present</span>
    </div>
</footer>